Global:
  TONE: 1000HZ
  DTM-TM: 100MS
  OFFSET: "00.00000"
  SFT: OFF
  BCL: OFF
  TOT: OFF
  ANI_ID: ""
  DTMF: ""
memslot1:
  COMP: OFF
  SQL: SQ3
  W/NA: WIDE
  POWER: LOW
  STEP: 6.25K
  Channels:
    1:
      memslot: 1
      name: PMR-01
      freq: 446.00625
    2:
      memslot: 2
      name: PMR-02
      freq: 446.01875
    3:
      memslot: 3
      name: PMR-03
      freq: 446.03125
    4:
      memslot: 4
      name: PMR-04
      freq: 446.04375
    5:
      memslot: 5
      name: PMR-05
      freq: 446.05625
    6:
      memslot: 6
      name: PMR-06
      freq: 446.06875
    7:
      memslot: 7
      name: PMR-07
      freq: 446.08125
    8:
      memslot: 8
      name: PMR-08
      freq: 446.09375
    9:
      memslot: 9
      name: PMR-09
      freq: 446.10625
    10:
      memslot: 10
      name: PMR-10
      freq: 446.11875
    11:
      memslot: 11
      name: PMR-11
      freq: 446.13125
    12:
      memslot: 12
      name: PMR-12
      freq: 446.14375
    13:
      memslot: 13
      name: PMR-13
      freq: 446.15625
    14:
      memslot: 14
      name: PMR-14
      freq: 446.16875
    15:
      memslot: 15
      name: PMR-15
      freq: 446.18125
    16:
      memslot: 16
      name: PMR-16
      freq: 446.19375
memslot2:
  COMP: OFF
  SQL: SQ3
  W/NA: WIDE
  POWER: HIGH
  STEP: 6.25K
  Channels:
    1:
      memslot: 1
      name: PMR-01
      freq: 446.00625
    2:
      memslot: 2
      name: PMR-02
      freq: 446.01875
    3:
      memslot: 3
      name: PMR-03
      freq: 446.03125
    4:
      memslot: 4
      name: PMR-04
      freq: 446.04375
    5:
      memslot: 5
      name: PMR-05
      freq: 446.05625
    6:
      memslot: 6
      name: PMR-06
      freq: 446.06875
    7:
      memslot: 7
      name: PMR-07
      freq: 446.08125
    8:
      memslot: 8
      name: PMR-08
      freq: 446.09375
    9:
      memslot: 9
      name: PMR-09
      freq: 446.10625
    10:
      memslot: 10
      name: PMR-10
      freq: 446.11875
    11:
      memslot: 11
      name: PMR-11
      freq: 446.13125
    12:
      memslot: 12
      name: PMR-12
      freq: 446.14375
    13:
      memslot: 13
      name: PMR-13
      freq: 446.15625
    14:
      memslot: 14
      name: PMR-14
      freq: 446.16875
    15:
      memslot: 15
      name: PMR-15
      freq: 446.18125
    16:
      memslot: 16
      name: PMR-16
      freq: 446.19375
